# HOUSEHOLD CONSUMPTIONS


# 0. Libraries export

In [33]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#url = "https://data.open-power-system-data.org/household_data/latest/household_data_15min_singleindex.csv"
url= "household_data_15min_singleindex.csv"
df = pd.read_csv(url, sep=",")


#Las energías están en kWh 
#Los precios se tomaran en €/MWh

In [4]:
#Obtencion de los datos de precios, desde archivo, si hay tiempo mirar documentacion de la API
#url_price = "https://transparency.entsoe.eu/transmission-domain/r2/dayAheadPrices/export?name=&defaultValue=false&viewType=TABLE&areaType=BZN&atch=false&dateTime.dateTime=01.12.2016+00%3A00%7CUTC%7CDAY&biddingZone.values=CTY%7C10Y1001A1001A83F!BZN%7C10Y1001A1001A82H&dateTime.timezone=UTC&dateTime.timezone_input=UTC&dataItem=ALL&timeRange=YEAR&exportType=CSV"
#https://transparency.entsoe.eu/content/static_content/Static%20content/web%20api/Guide.html#_complete_parameter_list
#https://github.com/EnergieID/entsoe-py
prices_csv="Day-ahead Prices_201601010000-201701010000.csv"
df_prices = pd.read_csv(prices_csv, sep=",")

In [6]:
#Funcion para limpiar fecha, se mete en un lambda y ya no es necesario
def cutendtime(timestring):
    times = str(timestring).split("-")
    return times[0]

In [49]:
df_prices['time'] = df_prices[df_prices.columns[0]].map(lambda x: str(x).split("-")[0])
df_prices.head()

,MTU (UTC),Day-ahead Price [EUR/MWh],time
0,01.01.2016 00:00 - 01.01.2016 01:00,22.39,01.01.2016 00:00
1,01.01.2016 01:00 - 01.01.2016 02:00,20.59,01.01.2016 01:00
2,01.01.2016 02:00 - 01.01.2016 03:00,16.81,01.01.2016 02:00
3,01.01.2016 03:00 - 01.01.2016 04:00,17.41,01.01.2016 03:00
4,01.01.2016 04:00 - 01.01.2016 05:00,17.02,01.01.2016 04:00

In [8]:
df_prices.dtypes

MTU (UTC)                     object
Day-ahead Price [EUR/MWh]    float64
time                          object
dtype: object

In [9]:
df_prices['time'] = df_prices['time'].apply(pd.to_datetime)

In [20]:
df_prices_clean = pd.DataFrame({
    'time' : df_prices[df_prices.columns[2]],
    'price' : df_prices[df_prices.columns[1]]})

df_prices_clean.dtypes

price           float64
time     datetime64[ns]
dtype: object

In [66]:
df['time'] = df[df.columns[0]].apply(pd.to_datetime)
df['year'] = pd.DatetimeIndex(df['time']).year
df['month'] = pd.DatetimeIndex(df['time']).month
df.dtypes

utc_timestamp                                               object
cet_cest_timestamp                                          object
DE_KN_industrial1_grid_import                              float64
DE_KN_industrial1_pv_1                                     float64
DE_KN_industrial1_pv_2                                     float64
DE_KN_industrial2_grid_import                              float64
DE_KN_industrial2_pv_1                                     float64
DE_KN_industrial2_storage_charge                           float64
DE_KN_industrial2_storage_decharge                         float64
DE_KN_industrial3_area_offices                             float64
DE_KN_industrial3_area_room_chemistry                      float64
DE_KN_industrial3_area_room_clean                          float64
DE_KN_industrial3_area_room_printing1                      float64
DE_KN_industrial3_area_room_printing2                      float64
DE_KN_industrial3_compressor                               float64
DE_KN_industrial3_cooling_aggregate                        float64
DE_KN_industrial3_cooling_pumps                            float64
DE_KN_industrial3_dishwasher                               float64
DE_KN_industrial3_ev                                       float64
DE_KN_industrial3_facility_cvd_centrotherm                 float64
DE_KN_industrial3_facility_diffusion_centrotherm           float64
DE_KN_industrial3_facility_diffusion_tecnofirmes           float64
DE_KN_industrial3_facility_furnace_centrotherm             float64
DE_KN_industrial3_facility_indus_rena                      float64
DE_KN_industrial3_grid_import                              float64
DE_KN_industrial3_pv                                       float64
DE_KN_industrial3_pv_facade                                float64
DE_KN_industrial3_pv_roof                                  float64
DE_KN_industrial3_refrigerator                             float64
DE_KN_industrial3_ventilation                              float64
                                                         ...
DE_KN_residential3_freezer                                 float64
DE_KN_residential3_grid_export                             float64
DE_KN_residential3_grid_import                             float64
DE_KN_residential3_pv                                      float64
DE_KN_residential3_refrigerator                            float64
DE_KN_residential3_washing_machine                         float64
DE_KN_residential4_dishwasher                              float64
DE_KN_residential4_ev                                      float64
DE_KN_residential4_freezer                                 float64
DE_KN_residential4_grid_export                             float64
DE_KN_residential4_grid_import                             float64
DE_KN_residential4_heat_pump                               float64
DE_KN_residential4_pv                                      float64
DE_KN_residential4_refrigerator                            float64
DE_KN_residential4_washing_machine                         float64
DE_KN_residential5_dishwasher                              float64
DE_KN_residential5_grid_import                             float64
DE_KN_residential5_refrigerator                            float64
DE_KN_residential5_washing_machine                         float64
DE_KN_residential6_circulation_pump                        float64
DE_KN_residential6_dishwasher                              float64
DE_KN_residential6_freezer                                 float64
DE_KN_residential6_grid_export                             float64
DE_KN_residential6_grid_import                             float64
DE_KN_residential6_pv                                      float64
DE_KN_residential6_washing_machine                         float64
interpolated_values                                         object
time                                                datetime64[ns]
year                                                         int64
month                                                        int64
Length: 76, dtype: object

In [39]:
df2 = pd.DataFrame({
    'time' : df['time'],
    'utc' : df['utc_timestamp']})

df2.sample(20)

                           time                   utc
47626 2016-08-23 13:45:00+00:00  2016-08-23T13:45:00Z
17042 2015-10-09 23:45:00+00:00  2015-10-09T23:45:00Z
12868 2015-08-27 12:15:00+00:00  2015-08-27T12:15:00Z
42678 2016-07-03 00:45:00+00:00  2016-07-03T00:45:00Z
31408 2016-03-07 15:15:00+00:00  2016-03-07T15:15:00Z
36673 2016-05-01 11:30:00+00:00  2016-05-01T11:30:00Z
56450 2016-11-23 11:45:00+00:00  2016-11-23T11:45:00Z
7011  2015-06-27 12:00:00+00:00  2015-06-27T12:00:00Z
30100 2016-02-23 00:15:00+00:00  2016-02-23T00:15:00Z
21125 2015-11-21 12:30:00+00:00  2015-11-21T12:30:00Z
53243 2016-10-21 02:00:00+00:00  2016-10-21T02:00:00Z
43878 2016-07-15 12:45:00+00:00  2016-07-15T12:45:00Z
47647 2016-08-23 19:00:00+00:00  2016-08-23T19:00:00Z
35148 2016-04-15 14:15:00+00:00  2016-04-15T14:15:00Z
40598 2016-06-11 08:45:00+00:00  2016-06-11T08:45:00Z
8750  2015-07-15 14:45:00+00:00  2015-07-15T14:45:00Z
62351 2017-01-23 23:00:00+00:00  2017-01-23T23:00:00Z
58419 2016-12-14 00:00:00+00:00  2016-12-14T00:00:00Z
48294 2016-08-30 12:45:00+00:00  2016-08-30T12:45:00Z
6214  2015-06-19 04:45:00+00:00  2015-06-19T04:45:00Z

In [84]:
df_2016 = df[df['year']==2016]

In [85]:
df_2016['DE_KN_residential4_washing_machine'].sample(20)

40422     73.872
48738    100.972
49571    102.944
32140     45.818
30476     38.270
28449     29.867
37464     64.745
53667    115.008
26022     19.934
52752    112.696
54104    116.505
51801    109.882
47806     97.201
33880     50.195
50558    105.666
49985    105.084
41141     77.202
54186    116.516
52531    112.672
57272    124.110
Name: DE_KN_residential4_washing_machine, dtype: float64

In [87]:
df_2016.head(60)

,utc_timestamp,cet_cest_timestamp,DE_KN_industrial1_grid_import,DE_KN_industrial1_pv_1,DE_KN_industrial1_pv_2,DE_KN_industrial2_grid_import,DE_KN_industrial2_pv_1,DE_KN_industrial2_storage_charge,DE_KN_industrial2_storage_decharge,DE_KN_industrial3_area_offices,...,DE_KN_residential6_dishwasher,DE_KN_residential6_freezer,DE_KN_residential6_grid_export,DE_KN_residential6_grid_import,DE_KN_residential6_pv,DE_KN_residential6_washing_machine,interpolated_values,time,year,month
25011,2016-01-01T00:00:00Z,2016-01-01T01:00:00+0100,24432.008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-241.018,NaN,NaN,NaN,6.932,NaN,2016-01-01 00:00:00,2016,1
25012,2016-01-01T00:15:00Z,2016-01-01T01:15:00+0100,24433.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-241.013,NaN,NaN,NaN,6.932,NaN,2016-01-01 00:15:00,2016,1
25013,2016-01-01T00:30:00Z,2016-01-01T01:30:00+0100,24434.754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-241.013,NaN,NaN,NaN,6.932,NaN,2016-01-01 00:30:00,2016,1
25014,2016-01-01T00:45:00Z,2016-01-01T01:45:00+0100,24436.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.999,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 00:45:00,2016,1
25015,2016-01-01T01:00:00Z,2016-01-01T02:00:00+0100,24438.258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.999,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 01:00:00,2016,1
25016,2016-01-01T01:15:00Z,2016-01-01T02:15:00+0100,24442.254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.993,NaN,NaN,NaN,6.932,NaN,2016-01-01 01:15:00,2016,1
25017,2016-01-01T01:30:00Z,2016-01-01T02:30:00+0100,24446.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.985,NaN,NaN,NaN,6.932,NaN,2016-01-01 01:30:00,2016,1
25018,2016-01-01T01:45:00Z,2016-01-01T02:45:00+0100,24448.254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.985,NaN,NaN,NaN,6.932,NaN,2016-01-01 01:45:00,2016,1
25019,2016-01-01T02:00:00Z,2016-01-01T03:00:00+0100,24449.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.971,NaN,NaN,NaN,6.932,NaN,2016-01-01 02:00:00,2016,1
25020,2016-01-01T02:15:00Z,2016-01-01T03:15:00+0100,24451.504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.971,NaN,NaN,NaN,6.932,NaN,2016-01-01 02:15:00,2016,1
25021,2016-01-01T02:30:00Z,2016-01-01T03:30:00+0100,24455.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.966,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 02:30:00,2016,1
25022,2016-01-01T02:45:00Z,2016-01-01T03:45:00+0100,24457.008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.956,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 02:45:00,2016,1
25023,2016-01-01T03:00:00Z,2016-01-01T04:00:00+0100,24458.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.956,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 03:00:00,2016,1
25024,2016-01-01T03:15:00Z,2016-01-01T04:15:00+0100,24459.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.944,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 03:15:00,2016,1
25025,2016-01-01T03:30:00Z,2016-01-01T04:30:00+0100,24460.754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.942,NaN,NaN,NaN,6.932,NaN,2016-01-01 03:30:00,2016,1
25026,2016-01-01T03:45:00Z,2016-01-01T04:45:00+0100,24462.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.940,NaN,NaN,NaN,6.932,NaN,2016-01-01 03:45:00,2016,1
25027,2016-01-01T04:00:00Z,2016-01-01T05:00:00+0100,24463.754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.928,NaN,NaN,NaN,6.932,NaN,2016-01-01 04:00:00,2016,1
25028,2016-01-01T04:15:00Z,2016-01-01T05:15:00+0100,24465.754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.928,NaN,NaN,NaN,6.932,NaN,2016-01-01 04:15:00,2016,1
25029,2016-01-01T04:30:00Z,2016-01-01T05:30:00+0100,24467.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.920,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 04:30:00,2016,1
25030,2016-01-01T04:45:00Z,2016-01-01T05:45:00+0100,24469.758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.913,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 04:45:00,2016,1
25031,2016-01-01T05:00:00Z,2016-01-01T06:00:00+0100,24472.254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.913,NaN,NaN,NaN,6.932,NaN,2016-01-01 05:00:00,2016,1
25032,2016-01-01T05:15:00Z,2016-01-01T06:15:00+0100,24473.254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.899,NaN,NaN,NaN,6.932,NaN,2016-01-01 05:15:00,2016,1
25033,2016-01-01T05:30:00Z,2016-01-01T06:30:00+0100,24475.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.899,NaN,NaN,NaN,6.932,NaN,2016-01-01 05:30:00,2016,1
25034,2016-01-01T05:45:00Z,2016-01-01T06:45:00+0100,24476.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.893,NaN,NaN,NaN,6.932,NaN,2016-01-01 05:45:00,2016,1
25035,2016-01-01T06:00:00Z,2016-01-01T07:00:00+0100,24477.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.091,-240.885,NaN,NaN,NaN,6.932,NaN,2016-01-01 06:00:00,2016,1
25036,2016-01-01T06:15:00Z,2016-01-01T07:15:00+0100,24479.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.884,NaN,NaN,NaN,6.932,NaN,2016-01-01 06:15:00,2016,1
25037,2016-01-01T06:30:00Z,2016-01-01T07:30:00+0100,24480.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.872,NaN,NaN,NaN,6.932,NaN,2016-01-01 06:30:00,2016,1
25038,2016-01-01T06:45:00Z,2016-01-01T07:45:00+0100,24482.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.870,NaN,NaN,NaN,6.932,NaN,2016-01-01 06:45:00,2016,1
25039,2016-01-01T07:00:00Z,2016-01-01T08:00:00+0100,24484.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.868,NaN,NaN,NaN,6.932,NaN,2016-01-01 07:00:00,2016,1
25040,2016-01-01T07:15:00Z,2016-01-01T08:15:00+0100,24488.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.856,NaN,NaN,NaN,6.932,NaN,2016-01-01 07:15:00,2016,1
25041,2016-01-01T07:30:00Z,2016-01-01T08:30:00+0100,24492.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.856,NaN,NaN,NaN,6.932,NaN,2016-01-01 07:30:00,2016,1
25042,2016-01-01T07:45:00Z,2016-01-01T08:45:00+0100,24494.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.847,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 07:45:00,2016,1
25043,2016-01-01T08:00:00Z,2016-01-01T09:00:00+0100,24495.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.842,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 08:00:00,2016,1
25044,2016-01-01T08:15:00Z,2016-01-01T09:15:00+0100,24497.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.842,NaN,NaN,NaN,6.932,DE_KN_residential5_dishwasher,2016-01-01 08:15:00,2016,1
25045,2016-01-01T08:30:00Z,2016-01-01T09:30:00+0100,24501.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.828,NaN,NaN,NaN,6.932,NaN,2016-01-01 08:30:00,2016,1
25046,2016-01-01T08:45:00Z,2016-01-01T09:45:00+0100,24503.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.828,NaN,NaN,NaN,6.932,NaN,2016-01-01 08:45:00,2016,1
25047,2016-01-01T09:00:00Z,2016-01-01T10:00:00+0100,24506.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.820,NaN,NaN,NaN,6.932,NaN,2016-01-01 09:00:00,2016,1
25048,2016-01-01T09:15:00Z,2016-01-01T10:15:00+0100,24509.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.814,NaN,NaN,NaN,6.932,NaN,2016-01-01 09:15:00,2016,1
25049,2016-01-01T09:30:00Z,2016-01-01T10:30:00+0100,24512.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.814,NaN,NaN,NaN,6.932,NaN,2016-01-01 09:30:00,2016,1
25050,2016-01-01T09:45:00Z,2016-01-01T10:45:00+0100,24517.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.800,NaN,NaN,NaN,6.932,NaN,2016-01-01 09:45:00,2016,1
25051,2016-01-01T10:00:00Z,2016-01-01T11:00:00+0100,24520.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.800,NaN,NaN,NaN,6.932,NaN,2016-01-01 10:00:00,2016,1
25052,2016-01-01T10:15:00Z,2016-01-01T11:15:00+0100,24524.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.794,NaN,NaN,NaN,6.932,NaN,2016-01-01 10:15:00,2016,1
25053,2016-01-01T10:30:00Z,2016-01-01T11:30:00+0100,24528.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.786,NaN,NaN,NaN,6.932,NaN,2016-01-01 10:30:00,2016,1
25054,2016-01-01T10:45:00Z,2016-01-01T11:45:00+0100,24533.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.785,NaN,NaN,NaN,6.932,NaN,2016-01-01 10:45:00,2016,1
25055,2016-01-01T11:00:00Z,2016-01-01T12:00:00+0100,24538.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.775,NaN,NaN,NaN,6.932,NaN,2016-01-01 11:00:00,2016,1
25056,2016-01-01T11:15:00Z,2016-01-01T12:15:00+0100,24545.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.771,NaN,NaN,NaN,6.932,NaN,2016-01-01 11:15:00,2016,1
25057,2016-01-01T11:30:00Z,2016-01-01T12:30:00+0100,24551.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.768,NaN,NaN,NaN,6.932,NaN,2016-01-01 11:30:00,2016,1
25058,2016-01-01T11:45:00Z,2016-01-01T12:45:00+0100,24558.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.757,NaN,NaN,NaN,6.932,NaN,2016-01-01 11:45:00,2016,1
25059,2016-01-01T12:00:00Z,2016-01-01T13:00:00+0100,24566.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.757,NaN,NaN,NaN,6.932,NaN,2016-01-01 12:00:00,2016,1
25060,2016-01-01T12:15:00Z,2016-01-01T13:15:00+0100,24573.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.749,NaN,NaN,NaN,6.932,NaN,2016-01-01 12:15:00,2016,1
25061,2016-01-01T12:30:00Z,2016-01-01T13:30:00+0100,24580.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.743,NaN,NaN,NaN,6.932,NaN,2016-01-01 12:30:00,2016,1
25062,2016-01-01T12:45:00Z,2016-01-01T13:45:00+0100,24588.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.742,NaN,NaN,NaN,7.095,NaN,2016-01-01 12:45:00,2016,1
25063,2016-01-01T13:00:00Z,2016-01-01T14:00:00+0100,24594.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.728,NaN,NaN,NaN,7.105,NaN,2016-01-01 13:00:00,2016,1
25064,2016-01-01T13:15:00Z,2016-01-01T14:15:00+0100,24603.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.728,NaN,NaN,NaN,7.133,NaN,2016-01-01 13:15:00,2016,1
25065,2016-01-01T13:30:00Z,2016-01-01T14:30:00+0100,24613.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.721,NaN,NaN,NaN,7.133,NaN,2016-01-01 13:30:00,2016,1
25066,2016-01-01T13:45:00Z,2016-01-01T14:45:00+0100,24619.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.714,NaN,NaN,NaN,7.133,NaN,2016-01-01 13:45:00,2016,1
25067,2016-01-01T14:00:00Z,2016-01-01T15:00:00+0100,24625.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.714,NaN,NaN,NaN,7.133,NaN,2016-01-01 14:00:00,2016,1
25068,2016-01-01T14:15:00Z,2016-01-01T15:15:00+0100,24631.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.701,NaN,NaN,NaN,7.133,NaN,2016-01-01 14:15:00,2016,1
25069,2016-01-01T14:30:00Z,2016-01-01T15:30:00+0100,24637.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.699,NaN,NaN,NaN,7.133,NaN,2016-01-01 14:30:00,2016,1
25070,2016-01-01T14:45:00Z,2016-01-01T15:45:00+0100,24641.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.092,-240.697,NaN,NaN,NaN,7.133,NaN,2016-01-01 14:45:00,2016,1

In [ ]:



#Unir ambos dataframes por la fecha para incluir los precios en el dataframe principal

In [75]:
from datetime import datetime
#dates=df['time'][(df['year']==2016) & (df['month']==5)]
num_list = list(range)
values = df['DE_KN_residential3_washing_machine']
plt.scatter(values)

TypeError: scatter() missing 1 required positional argument: 'y'

In [78]:
df.index

RangeIndex(start=0, stop=63939, step=1)

In [5]:
#Definición de un dataframe con los nombres de las columnas para poder trabajarlos
col_names= pd.DataFrame(list(df),columns=['col_name'])
col_names.head()

                        col_name
0                  utc_timestamp
1             cet_cest_timestamp
2  DE_KN_industrial1_grid_import
3         DE_KN_industrial1_pv_1
4         DE_KN_industrial1_pv_2

In [108]:
#Funciones para extraer informacion de las columnas
#La nomneclatura que siguen las columnas separa los conceptos por _ y la casa esta en el 3er campo

def gethousenumber(col_name):
    fields = str(col_name).split("_")
    house_field = 2
    return fields[house_field][-1] if len(fields)>2 else 0

def getconcept(col_name):
    fields = str(col_name).split("_")
    fields_num = len(fields)
    fixed_fields = 3
    field = list(range(fixed_fields,fields_num))
    return ''.join([fields[num] for num in field])

In [111]:
col_names['house_number'] = col_names['col_name'].apply(gethousenumber)
col_names['concept'] = col_names['col_name'].apply(getconcept)
col_names.tail(15)

                               col_name house_number          concept
58                DE_KN_residential4_pv            4               pv
59      DE_KN_residential4_refrigerator            4     refrigerator
60   DE_KN_residential4_washing_machine            4   washingmachine
61        DE_KN_residential5_dishwasher            5       dishwasher
62       DE_KN_residential5_grid_import            5       gridimport
63      DE_KN_residential5_refrigerator            5     refrigerator
64   DE_KN_residential5_washing_machine            5   washingmachine
65  DE_KN_residential6_circulation_pump            6  circulationpump
66        DE_KN_residential6_dishwasher            6       dishwasher
67           DE_KN_residential6_freezer            6          freezer
68       DE_KN_residential6_grid_export            6       gridexport
69       DE_KN_residential6_grid_import            6       gridimport
70                DE_KN_residential6_pv            6               pv
71   DE_KN_residential6_washing_machine            6   washingmachine
72                  interpolated_values            0

In [113]:
col_names.groupby('concept').count()
#col_names2=col_names.assign(household=)

                              col_name  house_number
concept
                                     3             3
areaoffices                          1             1
arearoomchemistry                    1             1
arearoomclean                        1             1
arearoomprinting1                    1             1
arearoomprinting2                    1             1
circulationpump                      3             3
compressor                           1             1
coolingaggregate                     1             1
coolingpumps                         1             1
dishwasher                           7             7
ev                                   2             2
facilitycvdcentrotherm               1             1
facilitydiffusioncentrotherm         1             1
facilitydiffusiontecnofirmes         1             1
facilityfurnacecentrotherm           1             1
facilityindusrena                    1             1
freezer                              5             5
gridexport                           3             3
gridimport                          11            11
heating                              1             1
heatpump                             2             2
pv                                   5             5
pv1                                  2             2
pv2                                  1             1
pvfacade                             1             1
pvroof                               1             1
refrigerator                         4             4
storagecharge                        1             1
storagedecharge                      1             1
ventilation                          1             1
washingmachine                       6             6

In [ ]:
#Crear lista con los columnas para mantener del dataframe de origen, por casas.

In [ ]:
#Dataframeprueba
df.columns['utc_timestamp','cet_cest_timestamp',]